.section {
    padding: 40px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section h1{
    font-size: 60px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    color: #4EA93C;
    margin: 0;
    text-align: center;
}
@media screen and (max-width: 600px) {

    .section h1 {
        font-size: 30px;
        margin: 5px;
    }
}

/* for controllers */
.control-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #C2D6C5;
    border-radius: 30px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.control-img {
    width: 100px;
    height: auto;
}

.control-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.control-info p {
    font-size: 20px;
    color: #16BBB5;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 600;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #12807c;
    transition: 0.4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #16BBB5;
}

input:checked + .slider:before {
    transform: translateX(20px);
}